<footer class="footer">
    <article class="information">
        <section class="section">
            <h4 class="information__header">UGLI food</h4>
            <p class="information__text restaurant">Ресторан</p>
            <div class="icons-wrapper">
                <a href="https://www.facebook.com"><img class="icon" src="../img/facebook.png" alt=""></a>
                <a href="https://www.instagram.com"><img class="icon" src="../img/instagram.png" alt=""></a>
                <a href="https://www.twitter.com"><img class="icon" src="../img/twitter.png" alt=""></a>
            </div>
        </section>
        <section class="section">
            <h3>Время работы</h3>
            <p class="information__text">ПОНЕДЕЛЬНИК - ВОСКРЕСЕНЬЕ <br>
                10:00 - 14:00 <br>
                15:00 - 00:00</p>
        </section>
        <section class="section">
            <h3>Адрес</h3>
            <p class="information__text">309 VICTORIA STREET <br>
                ABBOTSFORD, VICTORIA <br>
                AUSTRALIA 3067</p>
        </section>
        <section class="section">
            <h3>Контакты</h3>
            <a href="tel:+79999999999"
               class="contacts__information information__text">+7 (999) 876-65-56</a>
            <br>
            <a href="tel:+79999999999"
               class="contacts__information information__text">+7 (991) 342-75-76</a>
            <br>
            <a class="contacts__information information__text"
               href="mailto:uglifood@gmail.com">uglifood@gmail.com</a>
        </section>
    </article>
    <div class="end">
        <p class="end__text information__text">&copy; 2021 UGLI food. Все права защищены.</p>
    </div>
</footer>