<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>UGLI food</title>
        <link rel="stylesheet" type="text/css" href="../css/header.css">
        <link rel="stylesheet" type="text/css" href="../css/footer.css">
        <link rel="stylesheet" type="text/css" href="../css/fonts.css">
        <link rel="stylesheet" type="text/css" href="../css/menu.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include("../partials/header.ejs") %>

        <div class="menu" id="menu">
            <h3 class="content-header__center content-header">Menu</h3>
            <h2 class="content-header-main content-header__center">Меню от шеф-повара</h2>
            <div class="cards-wrapper">

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

                <div class="card">
                    <img class="card__img" src="img/plate.png" alt="">
                    <div class="card__text">
                        <h4 class="card__name">Салат Цезарь</h4>
                        <h4 class="card__category">Вкусная еда</h4>
                        <h4 class="card__price">&#8381;380.00</h4>
                    </div>
                    <div class="card__buy">
                        <img class="trolley" src="img/trolley.png" alt="">
                    </div>
                </div>

            </div>
        </div>


        <%- include("../partials/footer.ejs") %>
        <script src="../js/main.js"></script>
    </body>
</html>